muleevent_150321/src/main/mule/muleevent_150321.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="299455df-adca-4f94-a2d6-f39b266be387" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="muleevent_150321Flow" doc:id="6892b8da-d80e-4ea7-bd09-9047d4a61cb0" >
		<http:listener doc:name="Listener" doc:id="80da82d6-d2c7-447d-92ac-6512f0277a10" path="/event" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="69fc8393-8191-4d00-8d00-b9cd09978172" />
		<set-payload value='#["Sample Payload!!"]' doc:name="Set Payload" doc:id="547ad009-b99f-448a-81d7-5faf505477ca" />
		<logger level="INFO" doc:name="Logger" doc:id="d8d279b5-8546-4050-a21a-764c7e4de152" />
	</flow>
</mule>
